body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 20px;
}

.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}
.header small {
  color: #666;
}
.header .active {
  color: #2c7613;
}




.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.wrapper-login{
  display: block;
  margin: 100px auto;
  max-width: 300px;
}
.form-contrl-genrl{
  width: 100% !important;
}
body{
  background: #f1f1f1 !important;
}
.rdrCalendarWrapper{
  background: white !important;
  padding: 10px;
  border-radius: 10px;
}
.wrapper-calander{
  max-width:400px !important;
  display: block;
  margin: 0px auto !important;
}
.wrapper-calendar-inner{
  background: white !important;
  border: 1px solid lightgray !important;
  margin: 10px 0;
  border-radius: 4px;
}
.wrapper-calander .rdrCalendarWrapper{
  width: 100% !important;
}
.wrapper-calander .rdrDateDisplayWrapper {
  background-color: #efefef !important;
}
.wrapper-calander .rdrMonth{
  width: 100% !important;
  padding-bottom: 0 !important;
}
.wrapper-calander .rdrMonthAndYearWrapper {
  height: 40px !important;
  padding-top: 0 !important;
}

.wraper-loader{
  max-width:50px !important;
  display: block;
  margin: 150px auto !important;
}
