@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
}
.heroBg{
    background-image: url(././assets/sign_bg.jpg);
    background-size: 100% 760px !important;
    background-repeat: no-repeat;
    position: relative;
}
.navbar-main{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.navbar{
    /* background: #dd0d13 !important; */
    background: transparent !important;
    color: #dd0d13;
    margin-bottom: -60px;
}
.navbar-brand{
    font-size: 30px;
}
.wrapper-search{
    color: white;
    padding-top: 200px;
}
.btn-search-submit{
    background: #dd0d13 !important;
    border: 0 !important;
}
.wrap-search-input{
    position: relative;
}
.wrap-search-input input{
    border-radius: 100px;
    height: 60px;
    background: rgba(255,255,255,0.1);
    color: white;
}
.wrap-search-input input::placeholder{
    color: white;
}
.fa-search-custom{
    font-size: 18px;
    margin-right: 10px;
}
.btn-search-submit{
    position: absolute;
    top: 0px;
    right: 0;
    display: block;
    height: 60px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    max-width: 220px;
}
.wrap-sort-filters select{
    position: absolute;
    top: 0px;
    right: 220px;
    display: block;
    height: 60px;
    padding: 0 10px;
    font-size: 1.25rem;
}
.wrapper-search-type{
    margin: 80px 0 10px 0;
}

/* CUSTOM RADIO BUTTON START */

/* The radio button wrapper */
.wrap-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin-left: 20px;
  }
  
  /* Hide the browser's default radio button */
  .wrap-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .wrap-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .wrap-radio input:checked ~ .checkmark {
    background-color: #dd0d13;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .wrap-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .wrap-radio .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
/* CUSTOM RADIO BUTTON START */

.icon-search-result-track{
    display: inline-block;
    width: 25px;
}
.title-search-results{
    color: white;
    margin-top: 80px;
}
.btn-view-track{
    background: #dd0d13;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}
.btn-view-track:hover{
    color: white;
    transition: 0.3s ease-in-out;
}
.btn-view-track i{
    transition: 0.3s ease-in-out;
}
.btn-view-track:hover i{
    padding-left: 20px;
    transition: 0.3s ease-in-out;
    color: white;
}
.btn-back{
    color: white !important; 
    font-size: 20px;
    /* margin: 50px 0; */
    display: block;
    padding-top: 10px;
    
}
.card-artist-description{
    margin-top: 200px;
}


.wraper-loader{
    max-width:150px !important;
    display: block;
    margin: 150px auto !important;
  }